@import "tailwindcss";

:root {
  --bg: #ecf1f1;
  --fg: #fff;
  --fg-muted: #555557;
  --accent: #734444;
  --border: #d8cece;
  --border-hover: #c1b4b4;
  --elm-bg: #f1eded;
  --elm-bg-hover: #e0cdcd;
  --nav-bg: #734444;
}

html { scroll-behavior: smooth; }

*, *::before, *::after { box-sizing: border-box; }

body {
  margin: 0;
  /* font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif; */
  /* background: var(--bg); */
  /* color: var(--fg); */
  transition: background 0.3s ease, color 0.3s ease;
  overflow-y: scroll;
}

/* Scrollbar */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: var(--border); border-radius: 3px; }